# Секреты и сессии
.env
**/*_cookies.json
**/*.session
**/*.session-journal

# Лишние скрипты и логи
fix_db.py
init_db.py
**/init_db.py
*.log
**/debug_fail.png

# Файлы процессов
*.pid
**/*.pid

# Кэш
__pycache__/